.AuthContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 310px;
    width: 300px;
    background-color: whitesmoke;
    border:  0.5px solid lightgrey;
    border-radius: 10px;
    /* border: 0.5px solid black;/ */
}
.AuthCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.AuthTitle{
    font-size: 25px;
}
.AuthCard form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.AuthCard form input{
    margin: 2px;
    padding: 5px;
    width: 200px;
    border: 0.5px solid black;
    border-radius: 5px;
}
.AuthCard form button{
    padding: 2px;
    width: 80px;
    height: 25px;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    background: blue;
    border: none;
}
.toggletext{
    color: blue;
    font-size: 10px;

}
.toggletext span{
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}